<div class="invocation_data form-group">
	<div class="col-md-2">
		<input type="text" class="form-control" placeholder="Zorgus"/>
	</div>
	<div class="col-md-2">
		<input type="text" class="form-control" placeholder="35"/>
	</div>
	<div class="col-md-2 center">
		<input type="text" class="form-control" placeholder="126"/>
	</div>
	<div class="col-md-5 center">
		<input type="text" class="form-control" placeholder="Bonjour Le monde !!!"/>
	</div>
	<div class="col-md-1 center">
		<button class="btn btn-default" type="button"
		onclick="deleteInvocationData(this)">
			<span class="glyphicon glyphicon-trash"/>
		</button>
	</div>
</div>